<svg version ="1.1" viewBox="0 0 650 650" preverseAspectRatio="xMinYMinmeet">
    <g id ="num"></g>
    <g id ="scala"></g>
    <text  x="325" y="325" id ="num"></text>
    <text  x="325" y="325" id ="hour"></text>
    <text  text-anchor="end" x="325" y="325" id ="min"></text>
    <text  text-anchor="end" x="325" y="325" id ="sec"></text>
    
</svg>
<form style="font-size: 100%;" name ="checks">

phrase output test: <input type="checkbox" id="phraseCheck">
<fieldset>
    <legend id = "hInfo"> </legend>  
    <input class="hmRange" id="hRange" type="range" min="0" max="23">
</fieldset>
<fieldset>
    <legend id = "mInfo"> </legend>  
    <input class="hmRange" id="mRange" type="range" min="0" max="59">
</fieldset>
<span id="24h">24h</span>: <input type="checkbox" id="24Check" checked>
mark rect: <input type="checkbox" id="rectCheck" checked>
phrase: <input type="checkbox" id="info" checked>
facenum: <input type="checkbox" id="numCheck" checked>
</form>

<script src="startAnalog.js" type="module"></script>
