
body {
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

fieldset {
    border: none;
}


.listElement{
    cursor: pointer;			

}


ul#snapshot li{			
    list-style: none;	
    float: left; 
    margin: 30px;
    padding: 15px 15px 50px 15px;
    text-decoration: none;
}

ul#nav li a {                     
	font-weight: normal;
}


ul#nav li{
  	cursor: pointer;
	
}

ul#nav li a {
	font-size: 25px;
	padding: 10px 10px 10px 10px; 
    font-weight: normal;
    text-decoration: none;
}

ul#nav li a:hover { 
    font-weight: bold;
}

ul#nav li a:visited {
	color: white;
}
     
     

ul#nav li{
	display: inline;    
}

ul#nav {

	margin: auto;
	padding: 5px 5%;
	text-align: center;
}

#display{
    background-color: black;
}
#hour
{
    fill: deepskyblue;				
    
    
}
#min 
{
    fill: orangered; 
}

#sec
{
    fill: lime;   
}


body{
    color: white;
}

.diceRow, .diceCol{
    padding-right: .6em;  
    font-size: 2em;
}


